@font-face {
    font-family: roadrage;
    src: url(Road_Rage.otf);
}

html, body {
    margin: 0;
}

body {
    text-align: center;
    background: url('../img/background2.jpg') center repeat;
}

h1 {
    width: 600px;
    padding: 3%;
    font-size: 4em;
    font-family: roadrage;
    letter-spacing: 2px;
    color: #FC00FF;
    /**background: url('../img/pink.png');**/
    margin: 20px auto;

}

#racetrack {
    background: url('../img/road.png') center left repeat-x;
    height: 330px;
    border-right: dashed 10px yellow;
    box-sizing: border-box;
    margin: 40px 0;
}

.car {
    display: block;
    position: relative;
}

#car1 { top: 30px; }
#car2 { top: 100px; }

#raceInfoContainer {
    width: 80%;
    margin: 40px auto 0;
    background: #333;
    height: 200px;
}

#raceInfoContainer h2 {
    color: white;
    text-transform: uppercase;
    border-bottom: solid 1px white;
    padding: 20px 0;
}

.raceInfo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
}

.raceInfo span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#raceInfo1 {
    color: #FC00FF;
    font-family: roadrage;
    letter-spacing: 2px;
}

#raceInfo2 {
    color: #00FFEF;
    font-family: roadrage;
    letter-spacing: 2px;
}

input[type="button"] {
    background: #fc00ff;
    color: white;
    padding: 10px 20px;
    border: solid 1px #444;
}

input#reset {
    background: #00ffef;
    color: #444;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}